<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <script type="text/javascript">

    $(document).ready(function(){

        $('#button').click(function(e) {
            var inputvalue = $("#group_id").val();
            window.location.replace("login/" + account);

        });
    });
    </script>
</head>
<body>
    <h2>Facebook Data Integration</h2>
    <a href="register/">Register for Data Integration</a>
    <br />
    -------------
    <br />

        {% csrf_token %}
        <label for="group_id">Group ID</label>
        <input type="text" value="" id="group_id">
    <br />
        <button type="button" id="button">Submit Gather Request</button>


</body>
</html>