<!DOCTYPE html>
<html>

	<head>
	<title>YouTube Integration</title>
	</head>

	<body>	
		<div>
		<h1>YouTube integration</h1>
		<div> {{ message }} </div>
		<p><a href={{ html }}>Test OAuth (only profile)</a></p>
		<!--
		<a href="../extractLikes/IFN616">Extract youtube data (likes)</a>
		<br>
		<a href="../extractComments/5e7bf3hW6lE/UCVBErcpqaokOf4fI5j73K_w">Extract youtube data (comments)</a>
		<br>
		<a href="../extractBoth/IFN616/5e7bf3hW6lE/UCVBErcpqaokOf4fI5j73K_w">Extract youtube data (like & comment)</a>
		</div>
		-->
		<a href="../refreshyoutube/?course_code=IFN616&channelIds=UCVBErcpqaokOf4fI5j73K_w">Extract youtube data (like & comment)</a>
		</div>
	</body>
</html>

