<!DOCTYPE html>
<html>

	<head>
	<title>YouTube data refresh</title>
	<style>
	
	table.result,
	table.result th,
	table.result td
	{
		border: 1px #000000 solid;
	}
	table.result th
	{
		font-weight: bold;
	}
	</style>
	</head>

	<body>	
		<h2>YouTube data has been refreshed.</h2>
<!--
		<div> totalResults: {{ yt.totalResults }}, resultsPerPage: {{ yt.resultsPerPage }} </div>
		<br>

		<h4>Video URL: </h4>
		<div>{{ vurl }}</div>
		<h4>Video Title: </h4>
		<div>{{ vtitle }}</div>		
		<h4>Next Page Token: </h4>
		<div>{{ yt.nextPageToken }}</div>
-->

		<h4>Newly collected "Like" videos: ({{ vNum }} videos)</h4>
		<table class="result">
			<tr>
				<th>Title</th>
				<th>URL</th>
			</tr>
			{% for yt in vList %}
			<tr>
				<td>{{ yt.videoTitle }}</td>
				<td>{{ yt.videoUrl }}</td>
			</tr>
			{% endfor %}
		</table>

		<hr>

		<h4>Newly collected Comments: ({{ commNum }} comments) </h4>
		<table class="result">
			<tr>
				<th>Type</th>
				<th>Comment</th>
				<th>Channel URL</th>
				<th>Video URL</th>
			</tr>
			{% for comm in commList %}
			<tr>
				<td>{% if comm.isReply %}Reply{% else %}Comment{% endif %}</td>
				<td>{{ comm.text }}</td>
				<td>{{ comm.channelUrl }}</td>
				<td>{{ comm.videoUrl }}</td>
			</tr>
			{% endfor %}
		</table>

<!--				
		{% for yt in vList %}
		<div>{{ yt.videoTitle }} ({{ yt.videoUrl }})</div>
		{% endfor %}

		<h4>Video Title (using class): </h4>
		{% for yt in vList %}
		<div>{{ yt.videoTitle }}</div>
		{% endfor %}

		<hr>

		<h4>Comments: ({{ commNum }} comments) </h4>
		{% for comm in commList %}
		<div>{{ comm.text }} {% if comm.isReply %} (Reply) {% endif %} ({{ comm.videoUrl }}{{ comm.channelUrl }})</div>
		{% endfor %}

		<div>Comment API response</div>
		{{ jsonObj }}
-->
	</body>
</html>

