{% extends "clatoolkit/base_clatoolkit.html" %}
{% load static %}
{% load field_type %}

{% block title %}{{ title }}{% endblock %}

{% block heading %}{% endblock %}

{% block body %}
<script src="{% static 'js/jquery-ui-1.11.4.custom/jquery-ui.js'%}"></script>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                {{ verb }} Unit Offering
            </div>
            <div class="panel-body">
                <form role="form" id="user_form" method="post">
                    {% csrf_token %}

                    <div class="form-errors">
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <li><strong>{{ field.name }}: {{ error|escape }}</strong></li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            <br>
                            {% if field|field_type == "Textarea" %}
                                <textarea class="form-control" name="{{ field.name }}">{% if field.value %}{{ field.value }}{% endif %}</textarea>
                            {% else %}
                                {% if field.name == "provider" %}
                                    <input class="form-control" id="id_provider" name="provider" type="text" value="{{ field.value }}" readonly>
                                    <br>
                                    <a class="lrs-link" onclick="javascript:getLRSList();">Select your own LRS</a>
                                    <div id="lrs-list" class="lrs"></div>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary btn-lg btn-block">{{ verb }} offering</button>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    div .form_control {
        line-height: 3;
        font-weight: bold;
    }
    .lrs {
        font-size: 16px;
    }
    div .lrs-link {
        cursor: pointer;
    }
</style>
{% autoescape off %}
<script>
    function getLRSList(course_code) {
        if($("#lrs-list").html() != '') {
            return;
        }
        $("#lrs-list").html("Loading.....");
        $.ajax({
            url: "/clatoolkit/api/getLRSlist",
            type: 'GET',
            success: function (response) {
                var lrsList = $("#lrs-list");
                lrsList.html('<br><p>Click the LRS name you would like to use.</p>');
                $.each(response["result"], function(key, val) {
                    var url = val["protocol"] + "://" + val["domain"] + ":" + val["port"];
                    var app = '<a class="lrs-link" onclick="javascript:selectLRS(\'' + val["provider"] + '\');">' + val["provider"] + "</a>: " + url;
                    lrsList.append('<p>' + app + '</p>');
                });
            }
        });
    }
    function selectLRS(providerName) {
        $("#id_provider").val(providerName);
    }
</script>
{% endautoescape %}
{% endblock %}

