{% extends "clatoolkit/base_clatoolkit.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block heading %}{{title}}{% endblock %}

{% block homelink %}
<a class="navbar-brand" href="/">Connected Learning Analytics Toolkit</a>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">CLAToolkit: Login</h3>
            </div>
            <div class="panel-body">
                <form role="form" action="/" method="post">
                  {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Username" name="username" type="text" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                        </div>
                      <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <p class="text-center">or <a href="/clatoolkit/register/?u=public">Sign-Up</a> to trial the CLAToolkit Beta.</p>
    </div>
</div>
{% endblock %}
