.halfwidth {
	width: 50%;
	margin-right: 15px;
	float: left;
}

.clear {
    clear: left;
}

.tableDiv {
	padding: 0px 5px;
}

.leargeChart {
	overflow-x:auto;
}

.message {
	color: #ff0000;
	display: none;
}
