{% extends "dashboard/base_dashboard.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block heading %}{{title}}{% endblock %}

{% block pagetopnav %}
{% if show_dashboardnav == True %}
<li><a href="/dashboard/myunits"><i class="fa fa-dashboard fa-fw"></i> My Units</a></li>
{% endif %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
    {% if showethics %}
                <p>
                <strong>{{ showethics }}</strong>
                </p>

            <p class="lead">
                You are invited to participate in this project because you are enrolled in a subject where you undertake learning activities using social media.
            </p>
            <p class="lead">
                Agreeing to participate will lead to the creation of an account in a learning record store for you. You will then associate various social media accounts with that account (as your instructor suggests and you choose). This will allow for data to be gathered from your participation in learning activities using social media that you undertake in your class. You will then be able to see data and reports about your own engagement in the learning activities. This will give you information on your learning that you can use to gain a greater self-awareness of your learning.
            </p>
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseZero">Description</a>
                                      </h4>
                                  </div>
                                  <div id="collapseZero" class="panel-collapse collapse in">
                                      <div class="panel-body">
                                        <p>
                                          This project is being undertaken as part of a project for the Office for Learning and Teaching.
                                        </p>
                                        <p>
                                          The purpose of this project is to design and evaluate new tools that will give you access to data and reports that describe your engagement in learning activities using social media.
                                        </p>
                                        <p>
                                          Your participation in this project is entirely voluntary. If you do agree to participate you can withdraw from the project without comment or penalty, which would simply require that you disassociate your social media account from your learning record store account using a web form that provides this functionality.
                                        </p>
                                        <p>
                                          Your decision to participate or not participate will in no way impact upon your current or future relationship with QUT, UniSA, UTS, or UniSyd.
                                        </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Expected Benefits</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTwo" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          It is expected that this project will benefit you directly by providing you information on your learning that you can use for greater self-awareness about your learning. This may help you to achieve better grades, and long term learning outcomes throughout your studies. The project will generally benefit the higher education sector in understanding the experience of students using tools that describe engagement in learning activities using social media.
                                      </div>
                                  </div>
                              </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Additional Participation</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          <p>
                                            We may also invite you to participate in:
                                            <ol>
                                              <li>A questionnaire (which will involve a separate informed consent process).</li>
                                              <li>A focus group that will take approximately 40 minutes to find out how you used the information provided in your learning record store and its associated reports. The focus group will be conducted either face-to-face on campus, or via web conference. Questions will include:
                                                <ul>
                                                  <li>What information did you find useful?</li>
                                                  <li>What information would you have liked to see?</li>
                                                  <li>How did the information that was reported to you affect your learning?</li>
                                                  <li>How did you change your behaviour in response to the information you saw?</li>
                                                </ul>
                                              </li>
                                            </ol>
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Risks</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          There are no risks beyond normal day-to-day living associated with your participation in this project if you treat your class mates with respect and dignity while using the tools that this project provides. You may find yourself somewhat embarrassed if you do not do so, but we do not anticipate anything worse than that. Signing your soul over to SoLAR.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Privacy and Confidentiality</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          <p>
                                            All comments and responses will be treated confidentially unless required by law.
                                          </p>
                                          <p>
                                            The data in the learning record store will be seen by you, your teacher, the research team and technical staff. Other students will NOT be able to see your data.
                                          </p>
                                          <p>
                                            The focus group recordings will be transcribed and de-identified.  The recordings will then be destroyed.  The research team will have access to the transcriptions.
                                          </p>
                                          <p>
                                            The project is funded by the Commonwealth Office of Teaching and Learning who will own all materials and data it generates. Your data will be treated according to Australian data standards, which means that it will not be released into the public domain in an identifiable form, and that it will be stored in a secure store.
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Questions/Further Information</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          <p>
                                            If have any questions or require further information please contact one of the researchers listed below.
                                          </p>
                                          <p>
                                            Dr Kirsty Kitto	Project Leader	kirsty.kitto@qut.edu.au
                                            <br/>
                                            Dr Mandy Lupton	Project Team	mandy.lupton@qut.edu.au
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Concerns/Complaints Regarding the Conduct of the Project</a>
                                        </h4>
                                    </div>
                                    <div id="collapseSeven" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          <p>
                                            QUT is committed to research integrity and the ethical conduct of research projects.  However, if you do have any concerns or complaints about the ethical conduct of the project you may contact the QUT Research Ethics Unit on 07 3138 5123 or email ethicscontact@qut.edu.au. The QUT Research Ethics Unit is not connected with the research project and can facilitate a resolution to your concern in an impartial manner.
                                          </p>
                                          <p>
                                            Thank you for helping with this research project.  Please keep this sheet for your information.
                                          </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Research Team Contacts</a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          <p>
                                            Dr Kirsty Kitto	Project Leader	kirsty.kitto@qut.edu.au
                                            <br/>
                                            Dr Mandy Lupton	Project Team	mandy.lupton@qut.edu.au
                                          </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <p>
                        By clicking the register button below, you are indicating that you:
                        <ul>
                          <li>Have read and understood the information document regarding this project.</li>
                          <li>Have had any questions answered to your satisfaction.</li>
                          <li>Understand that if you have any additional questions you can contact the research team.</li>
                          <li>Understand that you are free to withdraw at any time without comment or penalty.</li>
                          <li>Understand that you can contact the Research Ethics Unit on 07 3138 5123 or email ethicscontact@qut.edu.au if you have concerns about the ethical conduct of the project.</li>
                          <li>Agree to participate in the project.</li>
                        </ul>
                </p>
                <form action="../myclassifications/" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{course_code}}">
                    <input type="hidden" value="{{platform}}">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Register">
                </form>
                </div>
                </div>

                        <!-- .panel-body -->
                        {% else %}
<div class="row">
    <div class="col-lg-12">
                <p>
                <strong>{{ showethics }}</strong>
                </p>
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Community of Inquiry Classifications
                <a href="#" class="pull-right whatisthis" role="button">What is this?</a>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

            <!--#c_box .carousel-->
                <div id="c_box" class="carousel slide" data-ride="carousel" data-interval="false">

                    <!--Indicators NOTE: may be useful later-->
                    <!--<ol class="carousel-indicators">
                        <li data-target="#c_box" data-slide-to="0" class="active"></li>

                        % for classification in classifications %}
                        <li data-target="#c_box" data-slide-to="{ forloop.counter }}"></li>
                        % endfor %}

                    </ol>-->

                    <!-- Slide wrapper -->
                    <div class="carousel-inner" role="listbox">

                    <style>
                        .carousel-inner .item {
                            min-height: 100px;
                        }

                        .carousel-control {
                            opacity: 0.9;
                        }

                        .highlighted {
                            /*color: blue;*/

                            background-color: yellow;
                        }
                    </style>
                        {% if classifications %}
                        <div class="item active" id="start_c">
                            <p style="margin-top: 1em;">
                                <h4>Want to learn about your participation within your learning community?</h4>
                            </p>
                            <p>
                                When you start this activity, you will see one of your posts. We have used machine learning to catgorise your
                                <a href="">cognitive presence</a> according the <a href="#" onclick="trackOutboundLink();">Community of Inquiry model</a>.
                            </p>
                            <p>
                                However, our machine learning tool is still learning and it could be wrong. We would like you to:
                                <br />
                                <ol>
                                    <li>Think about how your post was classified</li>
                                    <li>Choose what category you believe your post belongs to</li>
                                    <li>If you like, you may highlight text from your post that you used in making your decision, or add remarks to the text-box about what helped you come to your conclusion</li>
                                    <li>You can view your history below</li>
                                </ol>
                            </p>
                            <p>
                                <h4 style="margin-top: 1em;">What is Cognitive Presence?</h4>

                                Cognitive presence has four phases: Triggering, Exploration, Integration, and Resolution.
                                <br />
                                <br />
                                <b>Triggering Phase</b> initiates discussion about a particular issue/topic for inquiry.
                                <br />
                                <b>Exploration Phase</b> posts explore the issue at hand by exchanging knowledge between members of the community.
                                <br />
                                <b>Integration Phase</b> interactions build upon the ideas shared and explored in the Exploration phase and begin to construct understanding or a solution about a topic or issue.
                                <br />
                                <b>Resolution Phase</b> are messages in a discussion that test the solutions or understanding developed in the Integration phase.
                                <br />
                            </p>


                            <div class="btn-group">
                                <a href="#c_box" class="right btn btn-primary carousel-control beginc" data-slide="next" role="group" style="width: 77px;">Begin</a>
                            </div>

                        </div>
                        {% endif %}

                        <!--Generate carousel items to display classifications-->

                        <!--The Message that was classified-->
                        {% for classification in classifications %}
                        <div class="item" style="height: 30%;"> <!-- carousel item -->
                            <div id="{{classification.xapistatement.platformid}}" class='msgwrapper' style="padding: 5%;" onmouseover="saveFeature(this);">
                                {{ classification.xapistatement.message|removetags:"div"|safe }}
                                <br />
                            </div>

                            <div id="freetxt-wrapper">
                                You can highlight the main words or phrases that provide evidence for your reclassification in the text for you post above.
                              <br />
                                <textarea id="feedback_{{classification.id}}" style="width: 100%; height: 25%;">Enter feedback about your interaction here (optional).</textarea>
                            </div>

                            <style>
                                /*
                                 * Styling Caption to display the classifier prediction
                                 */
                                .carousel-caption {
                                    top: 0;
                                    bottom: auto;
                                    left: 0;
                                    right: auto;
                                    margin-top: 0;
                                    padding-top: 0;
                                    padding-bottom: 0;
                                    color: #0075b0;
                                    text-shadow: none;
                                }
                            </style>

                            <!-- Classifier prediction displayed as caption-->
                            <div class="carousel-caption">
                                Was classified as: <span class="classification" data-id="{{classification.id}}">{{classification.classification}}</span>
                            </div>
                        </div> <!-- end carousel item -->
                        {% endfor %}

                        <!-- If there are no classifications to display to the user, make this item active -->
                        <div id="end-seq" class="item{% if not classifications %}active{% endif %} end">
                            <p>No more interactions to show. Check back next week!</p>
                        </div>

                    </div> <!-- end Slide Wrapper -->

                    <!--Controllers/Feedback buttons -->
                    <div class="bottom btn-group btn-group-justified class-buttons" role="group" style="margin-top: 5px; display: none;" aria-label="...">

                        <div class="btn-group trig" role="group">
                            <a type="button" class="classifybtn btn btn-sm btn-primary carousel-control" role="button" href="#c_box" data-slide="next" >Triggering</a>
                        </div>

                        <div class="btn-group expl" role="group">
                            <a type="button" class="classifybtn btn btn-sm btn-info carousel-control" role="button" href="#c_box" data-slide="next" >
                                Exploration
                            </a>
                        </div>

                        <div class="btn-group inte" role="group">
                            <a type="button" class="classifybtn btn btn-sm btn-success carousel-control" role="button" href="#c_box" data-slide="next" >
                                Integration
                            </a>
                        </div>

                        <div class="btn-group reso" role="group">
                            <a type="button" class="classifybtn btn btn-sm btn-warning carousel-control" role="button" href="#c_box" data-slide="next" >
                                Resolution
                            </a>
                        </div>

                        <div class="btn-group othe" role="group">
                            <a type="button" class="classifybtn btn btn-sm btn-danger carousel-control" role="button" href="#c_box" data-slide="next" >
                                Other
                            </a>
                        </div>
                    </div>
                </div> <!-- end #c_box .carousel -->

                <input class="featuretxt" type="hidden" name="feature" value="nada">

                <div class="preview-wrap" style="margin-top: 1.5em; display: none;">
                    <h4>Preview:</h4>
                    <iframe class="preview" src="" width="100%" height="300" style="bottom: 0;">
                        <p>Where your message came from will show here.</p>
                    </iframe>
                </div>


            <!--<span class="hl-warning" style="color: red; font-weight: bold">Don't forget you can highlight
            text from your interactions that made you believe it belonged to a particular category</span>-->


                  <!--<p>
                  <ul>

                  </ul>
                </p>
              </div>
                <div class="pull-right"><button id="classifybtn" class="btn btn-primary">Save Classification</button></div>
                <p>
                  <div id="postresponse"></div>
                </p>-->
            </div>
        {% endif %}
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


{% endblock %}

{% block js_block %}
{% autoescape off %}
<!-- intro.js -->
<script src="https://cdn.jsdelivr.net/intro.js/1.1.1/intro.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/intro.js/1.1.1/introjs.min.css">
<script>
var platform = "{{platform}}";
var username = "{{username}}";
var uid = "{{uid}}"
var csrftoken;
var highlighted = false;

function trackOutboundLink()
{
  $.get("/clatoolkit/externallinklog", {userid:uid},
  function(data){
    $("<a>").attr("href", "https://coi.athabascau.ca/coi-model/").attr("target", "_blank")[0].click();
  });
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function save_reclassification(id, uc, ic)
{
    //console.log("save_reclassification clicked");
    // make ajax call to save a classification
    current_classificationid = id; // This is the id of the currently displayed classification
    isclassificationcorrect = ic;
    userreclassification = uc; // Students new classification
    feature = "None";

    if (highlighted) {
        try{
            feature = $('.featuretxt').val().toString();
        } catch (e) {
            console.log(e + ": highlighted");
        }
    }
    feedback = $('#feedback_'+id).val();
    //console.log(feature);

    params = {classification: current_classificationid, username: username, isclassificationcorrect: isclassificationcorrect, userreclassification:userreclassification, feedback:feedback, feature:feature}
    $.post("/api/userclassification/", params,
      function(data){
        $('#postresponse').html("User Classification sent via ajax.");
      });
}

//Helper JavaScript function - gets user highlighted/selected text
function getHighlightedText(){
    var txt;

    if (document.all) {
        txt = document.selection.createRange().text;
    } else {
        txt = document.getSelection();
    }

    return txt;
}

//Jquery for text-hightlight/feature select
function saveFeature(el) {
    $(el).mouseup(function(){

        var selected = getHighlightedText();
        var selected_txt = selected.toString();

        if (selected_txt.length != 0) {
            $('.featuretxt').val(selected_txt);

            var element = $('.highlighted');

            if (element.length){
                element.contents().unwrap();
            }

            var span_wrapper = document.createElement('SPAN');
            span_wrapper.className = "highlighted";
            span_wrapper.textContent = selected_txt;

            var range = selected.getRangeAt(0);
            range.deleteContents();
            range.insertNode(span_wrapper);
            highlighted = true;
        }

        //console.log($('.featuretxt').val().toString());
    });
}

//begin function for interface
/*$(function() {
   $('.beginc').click(function(){
       setTimeout(function() {
        $('#start_c').remove();
        //console.log('start_c removed');
    }, 5000);
   });
});*/

//Classification button (carousel control) event
$(function() {
    $('.classifybtn').click(function () {
      var u_classification = $(this).html(); //User's Classification
      var c_classification = $('.item.active').find('.classification').html() //Classifier's Prediction
      var isClassCorrect = (u_classification == c_classification) ? "true" : "false"; //if user_classification == classifier_prediction { id = true } else { id = false }
      var id = $('.item.active').find('.classification').attr('data-id'); //Classification DB Id

      /*console.log(u_classification);
      console.log(c_classification);
      console.log(isClassCorrect);
      console.log(id);*/

      //console.log(!highlighted);
      //if (!highlighted) {
      //    $('.hl-warning').show();
      //}

      save_reclassification(id, u_classification, isClassCorrect);
    });
    csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
    beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRFToken', csrftoken);
    }
    });
});

//Intro.js Code/Settings
$(function() {
    $('.whatisthis').click(function(){
        var intro = introJs();
        intro.setOptions({
            steps: [
                {
                    element: '.class-buttons',
                    intro: 'This bar contains options for you to Categorise your learning interactions using the CLA ToolKit',
                    position: 'top'
                },
                {
                    element: '.trig',
                    intro: 'The triggering phase signals the beginning of a discussion for inquiry.',
                    position: 'top'
                },
                {
                    element: '.expl',
                    intro: 'Exploration means you were exploring ideas and concepts by sharing outside information or your own knowledge.',
                    position: 'top'
                },
                {
                    element: '.inte',
                    intro: 'The integration phase are messages within a discussion that are integrating ideas to form a solution. These ideas may come from the exploration phase or your own research',
                    position: 'top'
                },
                {
                    element: '.reso',
                    intro: 'Resolution messages have formed some sort of conclusion, product or artifact which was built upon in the integration phase.',
                    position: 'top'
                },
                {
                    element: '.othe',
                    intro: 'Messages that do not fall into any of the previous categories are marked as "other", examples include banter or social talk, or otherwise off-topic messages',
                    position: 'top'
                }
            ]
        });
    intro.start();
    });
});

//Removes carousel control buttons once user has classified everything
$('#c_box').bind('slid.bs.carousel', function (e) {
    var $this = $(this);
    var $preview_div = $('.preview-wrap');

    $this.children('.class-buttons').show();
    $preview_div.show();

    //console.log($('.carousel-inner').find('.active div').attr('id'));

    var $end_slide = $('.carousel-inner').find('.end');

    console.log("end-slide active? " + $end_slide.hasClass('active'));

    if ($end_slide.hasClass('active')) {
        $this.children('.class-buttons').hide();
        $preview_div.hide();
    }

    try {
        var forum_link = $('.carousel-inner').find('.active div').attr('id').toString();
        $('.preview').attr('src', forum_link);
        //$('.preview').load(forum_link);


        var $iframe = $('.preview');
        /*var iframe_body = iframe.get(0);
        var iframe_window = iframe_body.contentWindow;
        var */

        var $contents = $iframe.contents();
        var $header = $contents.find('#masthead');
        $header.remove();


    } catch (e) {
        console.log(e + ": forum_link - this is most likely thrown because we've hit the end of messages to display, which shouldnt be an issue");
    }

    //console.log($('.item.active').prop('id'));
    //console.log("#end-seq: " + $('#end-seq').hasClass('active'));
    //console.log(".carousel-inner .item:last: " + $('.carousel-inner .item:last').hasClass('active'));


    //TODO: May be redundant. Test and remove if so.
    if ($('#end-seq').hasClass('active')) {
        $this.children('.class-buttons').hide();
    }

    if ($('.carousel-inner .item:last').hasClass('active')) {
        //$('#carousel-b').carousel('pause');
        $this.children('.class-buttons').hide();

    } else if ($('.carousel-inner .item:first').hasClass('active')) {
        $this.children('.class-buttons').hide();
    }
});
</script>
{% endautoescape %}
{% endblock %}
