{% extends "dashboard/base_dashboard.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block heading %}{{title}}{% endblock %}

{% block body %}
<div class="alert alert-warning">
    You can filter the social network diagram by date. Select the timeframe using the
    "Activity Timeseries" chart and then click on the "Filter widgets by date selection" button.
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Activity Timeseries
                <div class="pull-right"><button id="datefilter">Filter widgets by date selection</button></div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="pageview_chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> SNA Explorer <span id="selectedrange"></span>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="alert alert-info">
                <div class="form-group">
                  <label>Relationship Filter</label>
                  <label class="checkbox-inline">
                      <input id="mention" value="mentioned" checked type="checkbox">Mention
                  </label>
                  <label class="checkbox-inline">
                      <input id="like"  value="liked" checked type="checkbox">Like
                  </label>
                  <label class="checkbox-inline">
                      <input id="share"  value="shared" checked type="checkbox">Share
                  </label>
                  <label class="checkbox-inline">
                      <input id="comment"  value="commented" checked type="checkbox">Comment
                  </label>
                  <button id="snarelationshipfilterbtn">Apply Filter</button>
                </div>
              </div>
              <div class="alert alert-warning">
                  Click on your node to view the messages you have posted. Click on a link (or relationship) to view the messages that were shared or commented on by another user.
              </div>
              <div id="popup" title="Centrality">
                <table class="table table-striped table-bordered table-hover" id="centrality-popup">
                </table>
              </div>
              <div id="mynetwork" style="height: 500px;"></div>

            </div>
            <strong>Legend: </strong><br/>
            - White Nodes: Mentioned users not registered with CLAToolkit<br/>
            - Blue Nodes: Students<br/>
            - Maroon Nodes: Teaching Staff
            <br/>
            <div id="relationships"></div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
                      
    </div>
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Messages Between Selected Participants <span id="messageselectedrange"></span>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div id="message_loading"><img src="{% static 'css/img/ajax-loader.gif'%}"></div>
              <div class="dataTable_wrapper">
                  <table class="table table-striped table-bordered table-hover" id="dataTables-selectedmessages">
                  </table>
              </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
</div>

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i>Centrality
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dctable">
                </table>
            </div>
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

{% endblock %}

{% block js_block %}
{% autoescape off %}
<script src="{% static 'js/vis.js'%}"></script>
<script>

var sna_data = {{sna_json}};
var platform = "{{platform}}";
var centrality = {{centrality}};
function update_data()
{
  var chart = $('#pageview_chart').highcharts();
  var start_date = Highcharts.dateFormat('%Y-%m-%d', chart.xAxis[0].getExtremes().min);
  var end_date = Highcharts.dateFormat('%Y-%m-%d', chart.xAxis[0].getExtremes().max);
  var relationships_array = ['#mention','#like','#share','#comment'];
  relationshipstoinclude = "";
  for (i in relationships_array)
  {
    if ($(relationships_array[i]).is(':checked'))
    {
      relationshipstoinclude = relationshipstoinclude + "'" + $(relationships_array[i]).val() + "',";
    }
  }
  relationshipstoinclude = relationshipstoinclude.substring(0, relationshipstoinclude.length - 1);
  if (relationshipstoinclude == "")
  {
    relationshipstoinclude = '-'
  }
  update_snadata(start_date, end_date, relationshipstoinclude);
  //update_messages(start_date, end_date);
}

function update_snadata(start_date, end_date)
{
  // make ajax call to get sna data for selected time period
  // and render new sna diagram
  $('#selectedrange').text("(Date Range: " + start_date + " - " + end_date + ")")
  //console.log("start_date:" + start_date)
  //console.log("end_date:" + end_date)
  $.get("/clatoolkit/sna", { course_code:"{{course_code}}", platform:"{{platform}}", start_date:start_date, end_date:end_date, relationshipstoinclude:relationshipstoinclude},
    function(data){
      sna_data = data;
      render_sna(sna_data);
    });
}

function update_messages(nodes,edges)
{
  var resturl,restparams
  var chart = $('#pageview_chart').highcharts();
  var start_date = Highcharts.dateFormat('%Y-%m-%d', chart.xAxis[0].getExtremes().min);
  var end_date = Highcharts.dateFormat('%Y-%m-%d', chart.xAxis[0].getExtremes().max);
  $('#messageselectedrange').text("(Date Range: " + start_date + " - " + end_date + ")")

  $('#message_loading').show();
  render_messages([]);

  typeofrequest = "Node";
  if (nodes.length == 0)
  {
    typeofrequest = "Relationship"
  }

  if (typeofrequest == "Node")
  {
    // get node label
    username = getnodelabel(nodes[0])
    console.log("Selected User:" + username)
    resturl = "/api/learningrecord";
    if (platform!="all")
    {
      restparams = {format: "json", course_code:"{{course_code}}", platform:"{{platform}}", username:username, datetimestamp_min:start_date, datetimestamp_max:end_date};
    }
    else
    {
      restparams = {format: "json", course_code:"{{course_code}}", username:username, datetimestamp_min:start_date, datetimestamp_max:end_date};
    }
    $('#relationships').html('<h3>Selected User: ' + username + '</h3>');

  }
  else
  {
    var verb;
    usernames = getnodelabels(edges[0])
    fromusername = usernames[0]
    tousername = usernames[1]
    link_label = usernames[2]
    if (link_label == "mention")
    {
      verb = "mentioned";
    }
    else if(link_label == "share")
    {
      verb = "shared";
    }
    else if(link_label == "like")
    {
      verb = "liked";
    }
    else {
      verb = "commented";
    }
    $('#relationships').html('<h3>Selected Link: ' + verb + '</h3>' + 'Between ' + fromusername + " and " + tousername);
    console.log("fromusername:" + fromusername)
    console.log("tousername:" + tousername)
    resturl = "/api/socialrelationship";
    if (platform!="all")
    {
      restparams = {format: "json", course_code:"{{course_code}}", platform:"{{platform}}", fromusername:fromusername, tousername:tousername, verb:verb, datetimestamp_min:start_date, datetimestamp_max:end_date};
    }
    else
    {
      restparams = {format: "json", course_code:"{{course_code}}", fromusername:fromusername, tousername:tousername, verb:verb, datetimestamp_min:start_date, datetimestamp_max:end_date};
    }
  }
  console.log(resturl);
  $.getJSON(resturl, restparams,
    function(data){
      console.log(data.results);
      datatable_array = []
      for (i=0;i<data.results.length;i++)
      {
        var datarow;
        if (typeofrequest == "Node")
        {
          datarow = [data.results[i].username, data.results[i].parentusername, data.results[i].message, data.results[i].verb, data.results[i].platform, data.results[i].datetimestamp]
        }
        else {
          datarow = [data.results[i].fromusername, data.results[i].tousername, data.results[i].message, data.results[i].verb, data.results[i].platform, data.results[i].datetimestamp]
        }
        datatable_array.push(datarow)
      }
      render_messages(datatable_array);
      $('#message_loading').hide();
    });
}

function getnodelabel(node_id)
{
  var label;
  //console.log(node_id);
  //console.log(sna_data.nodes.length);
  for (i=0;i<sna_data.nodes.length;i++)
  {
    //console.log(sna_data.nodes[i])
    //console.log(sna_data.nodes[i].id)
    if (sna_data.nodes[i].id == node_id)
    {
      label = sna_data.nodes[i].label;
      //console.log(label);
      break;
    }
  }
  return label;
}

function getnodelabels(edge_id)
{
  var fromid, toid, fromuser, touser, verb;
  console.log(sna_data.edges)
  for (i=0;i<sna_data.edges.length;i++)
  {
    if (sna_data.edges[i].id == edge_id)
    {
      fromid = sna_data.edges[i].from;
      toid = sna_data.edges[i].to;
      verb = sna_data.edges[i].label;
      break;
    }
  }
  fromuser = getnodelabel(fromid);
  touser = getnodelabel(toid);
  return [fromuser, touser, verb]
}

function render_messages(dataSet)
{
  $('#dataTables-selectedmessages').dataTable().fnDestroy();
  $('#dataTables-selectedmessages').DataTable( {
        data: dataSet,
        columns: [
            { title: "From" },
            { title: "To" },
            { title: "Message" },
            { title: "Verb" },
            { title: "Platform" },
            { title: "Date" }
        ]
    } );
}

function render_sna(data)
{
  var container = document.getElementById('mynetwork');
  var options = getDrawOption()
  var network = new vis.Network(container, data, options);
  // Capture click event
  network.on("click", function (params) {
        params.event = "[original event]";
        //document.getElementById('relationships').innerHTML = '<h2>Click event:</h2>' + JSON.stringify(params, null, 4);
        update_messages(params.nodes,params.edges);
        showCentralityPopup(params)
  });
}

function showCentralityPopup(params)
{
  data = getCentralityDataSetByUser(params);
  if(data.length == 0) {
    return;
  }
  console.log("centrality data in pop-up table:");
  console.log(data);
  
  $('#centrality-popup').dataTable().fnDestroy();
  $('#centrality-popup').DataTable( {
        bFilter: false,
        bInfo: false,
        bPaginate: false,
        bLengthChange: false,
        data: data,
        columns: [
            { title: "Measure"},
            { title: "Value" }
        ]
    } );
  
  $('#popup').dialog("open");
  $('#popup').dialog("option", "width", 300);
  //$('#popup').dialog( "option", "position", { my: "left top", at: "left bottom", of: button } );
}



function getDrawOption()
{
  var options = {
      nodes: {
          shape: 'dot',
          scaling: {
            customScalingFunction: function (min,max,total,value) {
              return value/total;
            },
            min:10,
            max:50
          }
      },
      edges: {
          scaling: {
            customScalingFunction: function (min,max,total,value) {
              return value/total;
            },
            min:2,
            max:8
          }
      },
      physics: {
          forceAtlas2Based: {
              gravitationalConstant: -26,
              centralGravity: 0.005,
              springLength: 230,
              springConstant: 0.18
          },
          maxVelocity: 146,
          solver: 'forceAtlas2Based',
          timestep: 0.35,
          stabilization: {iterations:300}
      },
      interaction: {
          navigationButtons: true,
          keyboard: true
      }
  };
  return options;
}

function getCentralityDataSetByUser(params)
{
  label = getnodelabel(params.nodes[0])

  var ret = [];
  for(var i = 0; i < centrality.label.length; i++)
  {
    if (centrality.label[i] == label) {
      var datarow = ["In degree", centrality.inDegree[i]];
      ret.push(datarow);
      datarow = ["Out degree", centrality.outDegree[i]];
      ret.push(datarow);
      datarow = ["Betweenness", centrality.betweenness[i]];
      ret.push(datarow);
      datarow = ["In Closeness", centrality.inCloseness[i]];
      ret.push(datarow);
      datarow = ["Out Closeness", centrality.outCloseness[i]];
      ret.push(datarow);
      datarow = ["Eigenvector", centrality.eigenvector[i]];
      ret.push(datarow);
      break;
    }
  }
  return ret;
}

function getCentralityDataSet(centr)
{
  var ret = [];
  var index = 0;
  for(var i = 0; i < centr.ids.length; i++)
  {
    var datarow = [centr.ids[i], centr.label[i], centr.inDegree[i], 
          centr.outDegree[i], centr.totalDegree[i], centr.betweenness[i],
          centr.inCloseness[i], centr.outCloseness[i], centr.totalCloseness[i],
          centr.eigenvector[i]
        ];
    ret.push(datarow);
  }
  return ret;
}

$(function() {
  // Create Activity Chart
  $('#pageview_chart').highcharts('StockChart', {
      events: {
        redraw: function(event) {
            console.log('==============> Date Range Changed <==============');
            console.log(
                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', event.currentTarget.xAxis[0].min),
                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', event.currentTarget.xAxis[0].max)
            );
            start_date = Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', event.currentTarget.xAxis[0].min);
            end_date = Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', event.currentTarget.xAxis[0].max);
            // log the min and max of the y axis
            // console.log(event.currentTarget.yAxis[0].min, event.currentTarget.yAxis[0].max);
        }
      },
      rangeSelector : {
          selected : 1
      },

      tooltip: {
          style: {
              width: '200px'
          },
          valueDecimals: 0
      },

      yAxis : {
          min: 0,
          title : {
              text : 'Activity'
          }
      },
      legend: {
          enabled: true
      },

      series : [{
          name : 'Posts',
          data : [{{ posts_timeline }}],
          id : 'dataseries'
      },{
          name : 'Shares',
          data : [{{ shares_timeline }}],
          id : 'dataseries1'
      },{
          name : 'Likes',
          data : [{{ likes_timeline }}],
          id : 'dataseries2'
      },{
          name : 'Comments',
          data : [{{ comments_timeline }}],
          id : 'dataseries2'
      }]
  }, function (chart) {
      // Show series in the navigator (the mini-chart)
      for(var i = 0; i < chart.options.series.length; i++) {
        chart.addSeries({
            data: chart.options.series[i].data,
            isInternal: true,
            xAxis: 1,
            yAxis: 1,
            name: null, 
            enableMouseTracking: false, 
            showInLegend: false,
            color: chart.series[i].color
        });
      }
  });

  $('#message_loading').hide();

  $('#datefilter').click(function () {
    update_data();
  });

  $('#snarelationshipfilterbtn').click(function () {
    update_data();
  });


  render_sna(sna_data);
  $('#dataTables-selectedmessages').DataTable( {
        data: [],
        columns: [
            { title: "From" },
            { title: "To" },
            { title: "Message" },
            { title: "Verb" },
            { title: "Platform" },
            { title: "Date" }
        ]
    } );

  dc = getCentralityDataSet(centrality);
  $('#dctable').DataTable( {
        data: dc,
        columns: [
            { title: "ids", "bVisible": false },
            { title: "Users" },
            { title: "In Degree" },
            { title: "Out Degree" },
            { title: "Total Degree" },
            { title: "Betweenness" },
            { title: "In Closeness" },
            { title: "Out Closeness" },
            { title: "Total Closeness" },
            { title: "Eigenvector" }
        ]
    } );
  var density = centrality.density;
  $("#dctable_filter").append("<div id='density'></div>");
  $("#density").html("Density: " + density + " ");
  $("#density").css("font-weight", "bold");
  $("#density").css("font-size", "16px");
  $('#popup').dialog({
      autoOpen: false,
      buttons: {
        "OK": function(){
          $(this).dialog('close');
        }
      }
  });
  $('#centrality-popup').DataTable( {
        data: [],
        columns: [
            { title: "measure"},
            { title: "value" }
        ]
    } );

});

</script>

{% endautoescape %}
{% endblock %}